@import 'front.css';

.body{
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg,#4C4C4C 0%, #414141 16.15%,#111 100%) fixed;
  overflow-x: hidden;
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;   
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
}
a { 
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 

li {
  list-style-type: none; /* Убираем маркеры */
}

*{
  font-family: 'Pompadur';
  padding: 0;
  margin: 0;
}


/*-----------Header-----------*/
.container{
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 70%;
}

.header{
  padding-left: 0px;
  height: 52px;
  background-color: rgb(0, 0, 0);
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items:center;
}

.logo{
  color: #ffffff; 
  font-size: 24px; 
  font-weight: 400; 
  white-space:nowrap;
  margin-top: 14px;
}
/*Nav*/
.nav-list{
  display: flex;
  column-gap: 50px;
  font-weight: 400;
  font-size: 24px;
}
.nav-item{
  margin-top: 14px;
}

.nav-link{
  color: #ffffff;
  font-weight: 400;
  white-space:nowrap; 
}

.img-logo{
  display: block;
  width: 114px;
  height: 114px;
  margin-top: 12px;
  margin-left: -45px;
}
.img-logo img{
  width: 100%;
  height: 100%;
  display: block;
}
/*-----------Header-----------*/











/*-----------Main-----------*/
.mainContainer{
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 65%;
}


.centr-text{
  color: #FFF;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}
@media only screen and (max-width : 690px) {
  .centr-text{
    margin-top: -40px;
    color: #FFF;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  }
}


.line{
  margin-bottom: 74px;
  max-width: 700px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}
.line2{
  margin-top: 77px;
  max-width: 1800px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}
.line3{
  margin-top: 15px;
  max-width: 1800px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}
.line4{
  margin-top: 41px;
  max-width: 1800px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}
.line5{
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 420px;
  border: none;
  height: 10px;
  background-color: #000000;
  position: relative;
}

.line6{
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 350px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}
.line7{
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 800px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

.line8{
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 220px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}
.line9{
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 410px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}
.line10{
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 685px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}
.line11{
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 310px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}
.line12{
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 155px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}



.thumb-wrap {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.centr-text2{
  padding-top: 15px;
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.centr-text3{
  padding-top: 30px;
  padding-bottom: 32px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}
.textGH{
  color: #FFF;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}
.Developers{
  padding-top: 43px;
  color: #FFF;
  text-align: left;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}












/*----------DewTeam--------*/
.imgMember{
  max-width: 400px;
  max-height: 400px;
}

.content-row {
  max-width: 1800px;
  display: flex;
  justify-content: left;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.content-item-img img{
  max-width: 400px;
  max-height: 400px;
  border-radius: 50px;
  margin-right: 50px;
}
.content-para {
  color: #FFF; 
  margin-top: 8px;
  font-weight: 400; 
  line-height: normal; 
  text-align: justify;
  font-size: 64px; 
}
.content-para2 {
  color: #FFF; 
  margin-top: 8px;
  font-weight: 400; 
  line-height: normal; 
  text-align: justify;
  font-size: 40px; 
}
.nav-item3{
  color: #FFF;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}


/*------------------*/


















.line,.line2,.line3,.line4{
margin-left: auto;
margin-right: auto;
}

/*------------------*/

.nav-list2{
  padding-top: 389px;
  display: flex;
  column-gap: 25px;
  font-weight: 400;
  font-size: 24px;
}



/* -----------Подвал-----------*/

.footer{
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.footer__text{
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.to-top {
  bottom: -75px;
  width: 50px;
  height: 50px;
  right: 25px;
  position: fixed;
  opacity: 0;
  z-index: 9999;
  transition: all 0.5s;
  pointer-events: none;
}

.to-top.active {
  bottom: 25px;
  opacity: 0.4;
  pointer-events: auto;
  z-index: 9999;
}