@import 'front.css';

.body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #4C4C4C 0%, #414141 16.15%, #111 100%) fixed;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
}

* {
  font-family: 'Pompadur';
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

/*-----------Header-----------*/
.container {
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 70%;
}

.header {
  padding-left: 0px;
  height: 52px;
  background-color: rgb(0, 0, 0);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
  margin-top: 14px;
}

@media only screen and (max-width : 1120px) {
  .logo {
    color: #ffffff;
    font-size: 21.6px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 21px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 1020px) {
  .logo {
    color: #ffffff;
    font-size: 19.2px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 21px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 920px) {
  .logo {
    color: #ffffff;
    font-size: 16.8px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 21px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 767px) {
  .logo {
    color: #ffffff;
    font-size: 14.4px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 21px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 567px) {
  .logo {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 21px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

/*Nav*/
.nav-list {
  display: flex;
  column-gap: 50px;
  font-weight: 400;
  font-size: 24px;
}

@media only screen and (max-width : 1120px) {
  .nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 21.6px;
  }
}

@media only screen and (max-width : 1020px) {
  .nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 19.2px;
  }
}

@media only screen and (max-width : 920px) {
  .nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 16.8px;
  }
}

@media only screen and (max-width : 767px) {
  .nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 14.4px;
  }
}

@media only screen and (max-width : 567px) {
  .nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 12px;
  }
}

.nav-item {
  margin-top: 14px;
}

@media only screen and (max-width : 1120px) {
  .nav-item {
    margin-top: 21px;
  }
}

@media only screen and (max-width : 1020px) {
  .nav-item {
    margin-top: 21px;
  }
}

@media only screen and (max-width : 920px) {
  .nav-item {
    margin-top: 21px;
  }
}

@media only screen and (max-width : 767px) {
  .nav-item {
    margin-top: 21px;
  }
}

@media only screen and (max-width : 567px) {
  .nav-item {
    margin-top: 21px;
  }
}

.nav-link {
  color: #ffffff;
  font-weight: 400;
  white-space: nowrap;

}

.img-logo {
  display: block;
  width: 114px;
  height: 114px;
  margin-top: 12px;
}

.img-logo img {
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (max-width : 1120px) {
  .img-logo {
    display: block;
    width: 102.6px;
    height: 102.6px;
    margin-top: 12px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 1020px) {
  .img-logo {
    display: block;
    width: 91.2px;
    height: 91.2px;
    margin-top: 12px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 920px) {
  .img-logo {
    display: block;
    width: 79.8px;
    height: 79.8px;
    margin-top: 12px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 767px) {
  .img-logo {
    display: block;
    width: 68.4px;
    height: 68.457px;
    margin-top: 12px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 567px) {
  .img-logo {
    display: block;
    width: 57px;
    height: 57px;
    margin-top: 12px;
  }
}

.imgl {
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 70%;
}

/*-----------Header-----------*/











/*-----------Main-----------*/
.mainContainer { /*100*/
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 65%;
}

@media only screen and (max-width : 1120px) { /*90*/
    .mainContainer {
        max-width: 1400px;
        padding: 0 10px;
        position: relative;
        margin: 0 auto;
        width: 90%;
    }
}

@media only screen and (max-width : 1020px) { /*80*/
    .mainContainer {
        max-width: 1400px;
        padding: 0 10px;
        position: relative;
        margin: 0 auto;
        width: 90%;
    }
}

@media only screen and (max-width : 920px) { /*70*/
    .mainContainer {
        max-width: 1400px;
        padding: 0 10px;
        position: relative;
        margin: 0 auto;
        width: 90%;
    }
}

@media only screen and (max-width : 767px) { /*60*/
    .mainContainer {
        max-width: 1400px;
        padding: 0 10px;
        position: relative;
        margin: 0 auto;
        width: 90%;
    }
}

@media only screen and (max-width : 567px) { /*50*/
  .mainContainer {
    max-width: 1400px;
    padding: 0 10px;
    position: relative;
    margin: 0 auto;
    width: 90%;
  }
}

.centr-text {
  color: #FFF;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width : 1120px) {
    .centr-text {
        color: #FFF;
        text-align: center;
        font-family: Bebas Neue;
        font-size: 120px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 1020px) {
    .centr-text {
        color: #FFF;
        text-align: center;
        font-family: Bebas Neue;
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 920px) {
    .centr-text {
        color: #FFF;
        text-align: center;
        font-family: Bebas Neue;
        font-size: 90px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 767px) {
    .centr-text {
        color: #FFF;
        text-align: center;
        font-family: Bebas Neue;
        font-size: 75px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 567px) {
  .centr-text {
    color: #FFF;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

/*-----------Line-----------*/
.line {
  margin-bottom: 74px;
  max-width: 700px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

@media only screen and (max-width : 567px) {
  .line {
    margin-bottom: 20px;
    max-width: 700px;
    border: none;
    height: 10px;
    background-color: #000;
    position: relative;
  }
}

.line2 {
  margin-top: 77px;
  max-width: 1800px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

@media only screen and (max-width : 567px) {
  .line2 {
    margin-top: 20px;
    max-width: 1800px;
    border: none;
    height: 10px;
    background-color: #000;
    position: relative;
  }
}

.line3 {
  margin-top: 15px;
  max-width: 1800px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

.line4 {
  margin-top: 41px;
  max-width: 1800px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

.line5 {
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 420px;
  border: none;
  height: 10px;
  background-color: #000000;
  position: relative;
}

@media only screen and (max-width : 567px) {
  .line5 {
    margin-top: 5px;
    margin-bottom: 20px;
    max-width: 210px;
    border: none;
    height: 10px;
    background-color: #000000;
    position: relative;
  }
}

.line6 {
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 350px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

@media only screen and (max-width : 567px) {
  .line6 {
    margin-top: 5px;
    margin-bottom: 20px;
    max-width: 175px;
    border: none;
    height: 10px;
    background-color: #000;
    position: relative;
  }
}

.line7 {
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 800px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

@media only screen and (max-width : 567px) {
  .line7 {
    margin-top: 5px;
    margin-bottom: 20px;
    max-width: 210px;
    border: none;
    height: 10px;
    background-color: #000;
    position: relative;
  }
}

.line8 {
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 220px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

@media only screen and (max-width : 567px) {
  .line8 {
    margin-top: 5px;
    margin-bottom: 20px;
    max-width: 110px;
    border: none;
    height: 10px;
    background-color: #000;
    position: relative;
  }
}

.line9 {
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 410px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

@media only screen and (max-width : 567px) {
  .line9 {
    margin-top: 5px;
    margin-bottom: 20px;
    max-width: 205px;
    border: none;
    height: 10px;
    background-color: #000;
    position: relative;
  }
}

.line10 {
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 685px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

@media only screen and (max-width : 567px) {
  .line10 {
    margin-top: 5px;
    margin-bottom: 20px;
    max-width: 175px;
    border: none;
    height: 10px;
    background-color: #000;
    position: relative;
  }
}

.line11 {
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 310px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

@media only screen and (max-width : 567px) {
  .line11 {
    margin-top: 5px;
    margin-bottom: 20px;
    max-width: 155px;
    border: none;
    height: 10px;
    background-color: #000;
    position: relative;
  }
}

.line12 {
  margin-top: 5px;
  margin-bottom: 33px;
  max-width: 155px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}

@media only screen and (max-width : 567px) {
  .line12 {
    margin-top: 5px;
    margin-bottom: 20px;
    max-width: 45px;
    border: none;
    height: 10px;
    background-color: #000;
    position: relative;
  }
}

.line,
.line2,
.line3,
.line4 {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width : 1120px) {

    .line,
    .line2,
    .line3,
    .line4,
    .line5,
    .line6,
    .line7,
    .line8,
    .line9,
    .line5,
    .line10,
    .line11,
    .line12 {
        height: 9px;
    }
}

@media only screen and (max-width : 1020px) {

    .line,
    .line2,
    .line3,
    .line4,
    .line5,
    .line6,
    .line7,
    .line8,
    .line9,
    .line5,
    .line10,
    .line11,
    .line12 {
        height: 8px;
    }
}

@media only screen and (max-width : 920px) {

    .line,
    .line2,
    .line3,
    .line4,
    .line5,
    .line6,
    .line7,
    .line8,
    .line9,
    .line5,
    .line10,
    .line11,
    .line12 {
        height: 7px;
    }
}

@media only screen and (max-width : 567px) {

  .line,
  .line2,
  .line3,
  .line4,
  .line5,
  .line6,
  .line7,
  .line8,
  .line9,
  .line5,
  .line10,
  .line11,
  .line12 {
    height: 5px;
  }
}

/*-----------Line-----------*/


.thumb-wrap {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}

.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.centr-text2 {
  padding-top: 15px;
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width : 1120px) {
    .centr-text2 {
        padding-top: 15px;
        color: #FFF;
        text-align: center;
        font-size: 43px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 1020px) {
    .centr-text2 {
        padding-top: 15px;
        color: #FFF;
        text-align: center;
        font-size: 38px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 920px) {
    .centr-text2 {
        padding-top: 15px;
        color: #FFF;
        text-align: center;
        font-size: 33px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 767px) {
    .centr-text2 {
        padding-top: 15px;
        color: #FFF;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 567px) {
  .centr-text2 {
    padding-top: 15px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.centr-text3 {
  padding-top: 30px;
  padding-bottom: 32px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width : 1120px) {
    .centr-text3 {
        padding-top: 30px;
        padding-bottom: 32px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 43px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 1020px) {
    .centr-text3 {
        padding-top: 30px;
        padding-bottom: 32px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 38px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 920px) {
    .centr-text3 {
        padding-top: 30px;
        padding-bottom: 32px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 33px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 767px) {
    .centr-text3 {
        padding-top: 30px;
        padding-bottom: 32px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 567px) {
  .centr-text3 {
    padding-top: 30px;
    padding-bottom: 32px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.textGH {
  color: #FFF;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width : 1120px) {
    .textGH {
        color: #FFF;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 1020px) {
    .textGH {
        color: #FFF;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 920px) {
    .textGH {
        color: #FFF;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 767px) {
    .textGH {
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 567px) {
  .textGH {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.Developers {
  padding-top: 43px;
  color: #FFF;
  text-align: left;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width : 1120px) {
    .Developers {
        padding-top: 60px;
        color: #FFF;
        text-align: left;
        font-size: 43px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 1020px) {
    .Developers {
        padding-top: 60px;
        color: #FFF;
        text-align: left;
        font-size: 38px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 920px) {
    .Developers {
        padding-top: 60px;
        color: #FFF;
        text-align: left;
        font-size: 33px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 767px) {
    .Developers {
        padding-top: 60px;
        color: #FFF;
        text-align: left;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 567px) {
  .Developers {
    padding-top: 60px;
    color: #FFF;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}












/*----------DewTeam--------*/
.imgMember {
  max-width: 400px;
  max-height: 400px;
}

@media only screen and (max-width : 1120px) {
    .imgMember {
        max-width: 200px;
        max-height: 200px;
    }
}

@media only screen and (max-width : 1020px) {
    .imgMember {
        max-width: 150px;
        max-height: 150px;
    }
}

@media only screen and (max-width : 920px) {
    .imgMember {
        max-width: 90px;
        max-height: 90px;
    }
}

@media only screen and (max-width : 767px) {
    .imgMember {
        max-width: 50px;
        max-height: 50px;
    }
}

@media only screen and (max-width : 567px) {
  .imgMember {
    max-width: 10px;
    max-height: 10px;
  }
}

.content-row {
  max-width: 1800px;
  display: flex;
  justify-content: left;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.content-item-img img {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50px;
  margin-right: 50px;
}

@media only screen and (max-width : 1120px) {
    .content-item-img img {
        max-width: 120px;
        max-height: 120px;
        border-radius: 45px;
        margin-right: 45px;
    }
}

@media only screen and (max-width : 1020px) {
    .content-item-img img {
        max-width: 120px;
        max-height: 120px;
        border-radius: 40px;
        margin-right: 40px;
    }
}

@media only screen and (max-width : 920px) {
    .content-item-img img {
        max-width: 120px;
        max-height: 120px;
        border-radius: 35px;
        margin-right: 35px;
    }
}

@media only screen and (max-width : 767px) {
    .content-item-img img {
        max-width: 120px;
        max-height: 120px;
        border-radius: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-width : 567px) {
  .content-item-img img {
    max-width: 120px;
    max-height: 120px;
    border-radius: 25px;
    margin-right: 25px;
  }
}

.content-para {
  color: #FFF;
  margin-top: 8px;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  font-size: 64px;
}

@media only screen and (max-width : 1120px) {
    .content-para {
        color: #FFF;
        margin-top: 8px;
        font-weight: 400;
        line-height: normal;
        text-align: justify;
        font-size: 57px;
    }
}

@media only screen and (max-width : 1020px) {
    .content-para {
        color: #FFF;
        margin-top: 8px;
        font-weight: 400;
        line-height: normal;
        text-align: justify;
        font-size: 51px;
    }
}

@media only screen and (max-width : 920px) {
    .content-para {
        color: #FFF;
        margin-top: 8px;
        font-weight: 400;
        line-height: normal;
        text-align: justify;
        font-size: 44px;
    }
}

@media only screen and (max-width : 767px) {
    .content-para {
        color: #FFF;
        margin-top: 8px;
        font-weight: 400;
        line-height: normal;
        text-align: justify;
        font-size: 38px;
    }
}

@media only screen and (max-width : 567px) {
  .content-para {
    color: #FFF;
    margin-top: 8px;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    font-size: 32px;
  }
}

.content-para2 {
  color: #FFF;
  margin-top: 8px;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  font-size: 40px;
}

@media only screen and (max-width : 1120px) {
    .content-para2 {
        color: #FFF;
        margin-top: 8px;
        font-weight: 400;
        line-height: normal;
        text-align: justify;
        font-size: 36px;
    }
}

@media only screen and (max-width : 1020px) {
    .content-para2 {
        color: #FFF;
        margin-top: 8px;
        font-weight: 400;
        line-height: normal;
        text-align: justify;
        font-size: 32px;
    }
}

@media only screen and (max-width : 920px) {
    .content-para2 {
        color: #FFF;
        margin-top: 8px;
        font-weight: 400;
        line-height: normal;
        text-align: justify;
        font-size: 28px;
    }
}

@media only screen and (max-width : 767px) {
    .content-para2 {
        color: #FFF;
        margin-top: 8px;
        font-weight: 400;
        line-height: normal;
        text-align: justify;
        font-size: 24px;
    }
}

@media only screen and (max-width : 567px) {
  .content-para2 {
    color: #FFF;
    margin-top: 8px;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    font-size: 10px;
  }
}

.nav-item3 {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width : 1120px) {
    .nav-item3 {
        color: #FFF;
        font-family: Inter;
        font-size: 29px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 1020px) {
    .nav-item3 {
        color: #FFF;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 920px) {
    .nav-item3 {
        color: #FFF;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 767px) {
    .nav-item3 {
        color: #FFF;
        font-family: Inter;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width : 567px) {
  .nav-item3 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }
}

/*------------------*/




















/*------------------*/

.nav-list2 {
  padding-top: 100px;
  display: flex;
  column-gap: 25px;
  font-weight: 400;
  font-size: 24px;
}

@media only screen and (max-width : 1120px) {
  .nav-list2 {
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 21.6px;
  }
}

@media only screen and (max-width : 1020px) {
  .nav-list2 {
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 19.2px;
  }
}

@media only screen and (max-width : 920px) {
  .nav-list2 {
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 16.8px;
  }
}

@media only screen and (max-width : 767px) {
  .nav-list2 {
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 14.4px;
  }
}

@media only screen and (max-width : 567px) {
  .nav-list2 {
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 12px;
  }
}








@media only screen and (max-width : 1120px) {
  .h123 {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width : 1020px) {
  .h123 {
    height: 45px;
    width: 45px;
  }
}

@media only screen and (max-width : 920px) {
  .h123 {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width : 767px) {
  .h123 {
    height: 35px;
    width: 35px;
  }
}

@media only screen and (max-width : 567px) {
  .h123 {
    height: 30px;
    width: 30px;
  }
}


/* -----------Подвал-----------*/

.footer {
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer__text {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

@media only screen and (max-width : 1120px) {
  .footer__text {
    color: white;
    font-size: 21.6px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 1020px) {
  .footer__text {
    color: white;
    font-size: 19.2px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 920px) {
  .footer__text {
    color: white;
    font-size: 16.8px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 767px) {
  .footer__text {
    color: white;
    font-size: 14.4px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 567px) {
  .footer__text {
    color: white;
    font-size: 12px;
    font-weight: 400;
  }
}

.to-top {
  bottom: -75px;
  width: 50px;
  height: 50px;
  right: 25px;
  position: fixed;
  opacity: 0;
  z-index: 9999;
  transition: all 0.5s;
  pointer-events: none;
}

.to-top.active {
  bottom: 25px;
  opacity: 0.4;
  pointer-events: auto;
  z-index: 9999;
}