@import 'front.css';

.body{
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg,#4C4C4C 0%, #414141 16.15%,#111 100%) fixed;
}

a { 
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 

li {
list-style-type: none; /* Убираем маркеры */
}

*{
  font-family: 'Pompadur';
  padding: 0;
  margin: 0;
}


/*-----------Header-----------*/
.container{
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
}

.header{
  padding-left: 0px;
  height: 52px;
  background-color: rgb(0, 0, 0);
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items:center;
}

.logo{
  color: #ffffff; 
  font-size: 32px; 
  font-weight: 400; 
  white-space:nowrap;
}
/*Nav*/
.nav-list{
  display: flex;
  column-gap: 50px;
  font-weight: 400;
  font-size: 24px;
}
.nav-item{
  margin-top: 20px;
}

.nav-link{
  color: #ffffff;
  font-weight: 400;
  white-space:nowrap;
  
}

.imgLogo{
  max-width: 114px;
  max-height: 114px;
  margin-top: 12px;
  margin-left: 10px;
}
/*-----------Header-----------*/











/*-----------Main-----------*/
.mainContainer{
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
}
.content-row {
    max-width: 1980px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.centr-text{
  color: #ffffff;
  text-align: center;
  font-size: 96px;
  flex-shrink: 0; 
  font-weight: 400;
}
@media only screen and (max-width : 690px) {
  .centr-text{
    margin-top: -40px;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    flex-shrink: 0; 
    font-weight: 400;
  }
}


.line{
  margin-top: 20px;
  max-width: 741px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
}
.container2{
  width: 100%;
  max-width: 1980px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.video{
  width: 100%;
  padding-top: 56.29%;
  background: #4C4C4C;
}

.video iframe{
  width: 100%;
  padding-top: 56.29%;
  background: #4C4C4C;
}

.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}


.line,.line2,.line3,.line4,.line5{
  margin-left: auto;
  margin-right: auto;
}

/*------------------*/

.nav-list2{
    padding-top: 1213px;
  display: flex;
  column-gap: 25px;
  font-weight: 400;
  font-size: 24px;
}



/* -----------Подвал-----------*/

.footer{
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.footer__text{
  color: white;
  font-size: 24px;
  font-weight: 400;
}
/* -----------Подвал-----------*/
