@import 'front.css';

.body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #4C4C4C 0%, #414141 16.15%, #111 100%) fixed;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
}

* {
  font-family: 'Pompadur';
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

/*-----------Header-----------*/
.container {
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 70%;
}

.header {
  padding-left: 0px;
  height: 52px;
  background-color: rgb(0, 0, 0);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
  margin-top: 14px;
}

@media only screen and (max-width : 500px) {
  .logo {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 21px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

/*Nav*/
.nav-list {
  display: flex;
  column-gap: 50px;
  font-weight: 400;
  font-size: 24px;
}

@media only screen and (max-width : 500px) {
  .nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 12px;
  }
}

.nav-item {
  margin-top: 14px;
}

@media only screen and (max-width : 500px) {
  .nav-item {
    margin-top: 21px;
  }
}

.nav-link {
  color: #ffffff;
  font-weight: 400;
  white-space: nowrap;

}

.img-logo {
  display: block;
  width: 114px;
  height: 114px;
  margin-top: 20px;
  margin-left: 10px;
}

.img-logo img {
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (max-width : 500px) {
  .img-logo {
    display: block;
    width: 57px;
    height: 57px;
    margin-top: 12px;
    margin-left: 20px;
  }
}

/*-----------Header-----------*/











/*-----------Main-----------*/
.mainContainer {
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 75%;
}

@media only screen and (max-width : 500px) {
  .mainContainer {
    max-width: 1400px;
    padding: 0 10px;
    position: relative;
    margin: 0 auto;
    width: 90%;
  }
}

.content-row {
  max-width: 1980px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.content-item {
  width: 50%;
  min-width: 290px;
  margin-left: 20px;

}

.content-item-img {
  padding-left: 20px;
}

.content-item-img img {
  width: 75%;
}

.content-para {
  color: #FFF;
  margin-top: 8px;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  font-size: 29px;
  margin-right: 100px;
  margin-left: -200px;

}

@media(max-width:769px) {
  .content-row {
    flex-direction: column;
  }

  .content-item {
    width: 90%;
  }

  .content-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 1vw);
  }
}

.centr-text {
  color: #FF8500;
  text-align: center;
  font-size: 96px;
  flex-shrink: 0;
  font-weight: 400;
}

@media only screen and (max-width : 500px) {
  .centr-text {
    color: #FF8500;
    text-align: center;
    font-size: 48px;
    flex-shrink: 0;
    font-weight: 400;
  }
}

.centr-text-Botton {
  margin-top: 26px;
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

@media only screen and (max-width : 690px) {
  .centr-text-Botton2 {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }
}

.TextContact {
  padding-top: 26px;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  font-family: Inter;
}

@media only screen and (max-width : 500px) {
  .TextContact {
    padding-top: 26px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: Inter;
  }
}

.TextContact2 {
  padding-top: 44px;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  font-family: Inter;

}

@media only screen and (max-width : 500px) {
  .TextContact2 {
    padding-top: 26px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: Inter;
  }
}

/*---------Line---------*/
.line {
  margin-top: 20px;
  max-width: 741px;
  border: none;
  height: 10px;
  background-color: #000;
}

.line2 {
  margin-top: 117px;
  max-width: 1793px;
  border: none;
  height: 10px;
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width : 500px) {
  .line2 {
    margin-top: 58px;
    max-width: 1793px;
    border: none;
    background-color: #000;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.line3 {
  margin-top: 20px;
  max-width: 1793px;
  border: none;
  height: 10px;
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
}

.line4 {
  margin-top: 44px;
  max-width: 1793px;
  border: none;
  height: 10px;
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
}



.line,
.line2,
.line3,
.line4 {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width : 500px) {

  .line,
  .line2,
  .line3,
  .line4 {
    height: 5px;
  }
}

/*---------Line---------*/
.centr-text-Botton {
  margin-top: 20px;
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

@media only screen and (max-width : 690px) {
  .centr-text-Botton {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
}

.centr-text-Botton2 {
  margin-top: 20px;
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

@media only screen and (max-width : 690px) {
  .centr-text-Botton2 {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }
}

/*------------------*/

.img {
  max-height: 548px;
  max-width: 548px;
  padding-left: 20px;
  position: absolute;
  object-fit: cover;
  object-position: bottom;
}

.header-heading {
  color: #FFF;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 1237px;
  max-height: 533px;
  float: left;
}

.rightimg {
  float: left;
  /* Выравнивание по левому краю */
  margin: 7px 7px 7px 0;
  /* Отступы вокруг картинки */
  width: 548px;
  height: 548px;
  object-fit: cover;
  object-position: bottom;
}

.text {
  color: #FFF;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news {
  font-size: 200px;
  font-weight: 400;
  text-align: center;
}

.nav-list2 {
  padding-top: 100px;
  display: flex;
  column-gap: 25px;
  font-weight: 400;
  font-size: 24px;
}

@media only screen and (max-width : 500px) {
  .nav-list2 {
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 12px;
  }
}

@media only screen and (max-width : 500px) {
  .h123 {
    height: 30px;
    width: 30px;
  }
}


/* -----------Подвал-----------*/

.footer {
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer__text {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

@media only screen and (max-width : 500px) {
  .footer__text {
    color: white;
    font-size: 12px;
    font-weight: 400;
  }
}

.to-top {
  bottom: -75px;
  width: 50px;
  height: 50px;
  right: 25px;
  position: fixed;
  opacity: 0;
  z-index: 9999;
  transition: all 0.5s;
  pointer-events: none;
}

.to-top.active {
  bottom: 25px;
  opacity: 0.4;
  pointer-events: auto;
  z-index: 9999;
}