@import 'front.css';

.body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #4C4C4C 0%, #414141 16.15%, #111 100%) fixed;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
}

* {
  font-family: 'Pompadur';
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

/*-----------Header-----------*/
.container {
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 70%;
  list-style-type: none;
}

.header {
  padding-left: 0px;
  height: 52px;
  background-color: rgb(0, 0, 0);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
  margin-top: 14px;
}

@media only screen and (max-width : 1120px) {
  .logo {
    color: #ffffff;
    font-size: 21.6px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 21px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 1020px) {
  .logo {
    color: #ffffff;
    font-size: 19.2px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 21px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 920px) {
  .logo {
    color: #ffffff;
    font-size: 16.8px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 21px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 767px) {
  .logo {
    color: #ffffff;
    font-size: 14.4px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 21px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 567px) {
  .logo {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 21px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

/*Nav*/
.nav-list {
  display: flex;
  column-gap: 50px;
  font-weight: 400;
  font-size: 24px;
}

@media only screen and (max-width : 1120px) {
  .nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 21.6px;
  }
}

@media only screen and (max-width : 1020px) {
  .nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 19.2px;
  }
}

@media only screen and (max-width : 920px) {
  .nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 16.8px;
  }
}

@media only screen and (max-width : 767px) {
  .nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 14.4px;
  }
}

@media only screen and (max-width : 567px) {
  .nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 12px;
  }
}

.nav-item {
  margin-top: 14px;
}

@media only screen and (max-width : 1120px) {
  .nav-item {
    margin-top: 21px;
  }
}

@media only screen and (max-width : 1020px) {
  .nav-item {
    margin-top: 21px;
  }
}

@media only screen and (max-width : 920px) {
  .nav-item {
    margin-top: 21px;
  }
}

@media only screen and (max-width : 767px) {
  .nav-item {
    margin-top: 21px;
  }
}

@media only screen and (max-width : 567px) {
  .nav-item {
    margin-top: 21px;
  }
}

.nav-link {
  color: #ffffff;
  font-weight: 400;
  white-space: nowrap;

}

.img-logo {
  display: block;
  width: 114px;
  height: 114px;
  margin-top: 12px;
}

.img-logo img {
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (max-width : 1120px) {
  .img-logo {
    display: block;
    width: 102.6px;
    height: 102.6px;
    margin-top: 12px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 1020px) {
  .img-logo {
    display: block;
    width: 91.2px;
    height: 91.2px;
    margin-top: 12px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 920px) {
  .img-logo {
    display: block;
    width: 79.8px;
    height: 79.8px;
    margin-top: 12px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 767px) {
  .img-logo {
    display: block;
    width: 68.4px;
    height: 68.457px;
    margin-top: 12px;
    margin-left: -20px;
  }
}

@media only screen and (max-width : 567px) {
  .img-logo {
    display: block;
    width: 57px;
    height: 57px;
    margin-top: 12px;
  }
}

.imgl {
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 70%;
}

/*-----------Header-----------*/










/*-----------Main-----------*/
.mainContainer {
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 75%;
}

@media only screen and (max-width : 1120px) {
  .mainContainer {
    max-width: 1400px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
}

@media only screen and (max-width : 1020px) {
  .mainContainer {
    max-width: 1400px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
}

@media only screen and (max-width : 920px) {
  .mainContainer {
    max-width: 1400px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
}

@media only screen and (max-width : 767px) {
  .mainContainer {
    max-width: 1400px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
}

@media only screen and (max-width : 567px) {
  .mainContainer {
    max-width: 1980px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
}



/*---------------------*/
.thumb-wrap {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}

.thumb-wrap iframe {
  margin-left: 5.5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 89%;
  height: 89%;
  border-width: 0;
  outline-width: 0;
}


.content-para {
  padding-left: 20px;
  padding-right: 20px;
  color: #FFF;
  margin-top: 8px;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  font-size: 34px;
  font-family: 'Fanklin Gothic Medium', 'Arial Narrow', Arial, sans-serifr;
}

@media only screen and (max-width : 1120px) {
  .content-para {
    padding-left: 20px;
    padding-right: 20px;
    color: #FFF;
    margin-top: 8px;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    font-size: 17px;
    font-family: 'Fanklin Gothic Medium', 'Arial Narrow', Arial, sans-serifr;
  }
}

@media only screen and (max-width : 1020px) {
  .content-para {
    padding-left: 20px;
    padding-right: 20px;
    color: #FFF;
    margin-top: 8px;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    font-size: 17px;
    font-family: 'Fanklin Gothic Medium', 'Arial Narrow', Arial, sans-serifr;
  }
}

@media only screen and (max-width : 920px) {
  .content-para {
    padding-left: 20px;
    padding-right: 20px;
    color: #FFF;
    margin-top: 8px;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    font-size: 17px;
    font-family: 'Fanklin Gothic Medium', 'Arial Narrow', Arial, sans-serifr;
  }
}

@media only screen and (max-width : 767px) {
  .content-para {
    padding-left: 20px;
    padding-right: 20px;
    color: #FFF;
    margin-top: 8px;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    font-size: 17px;
    font-family: 'Fanklin Gothic Medium', 'Arial Narrow', Arial, sans-serifr;
  }
}

@media only screen and (max-width : 567px) {
  .content-para {
    padding-left: 20px;
    padding-right: 20px;
    color: #FFF;
    margin-top: 8px;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    font-size: 17px;
    font-family: 'Fanklin Gothic Medium', 'Arial Narrow', Arial, sans-serifr;
  }
}

.centr-text {
  color: #FF8500;
  text-align: center;
  font-size: 96px;
  flex-shrink: 0;
  font-weight: 400;
}

@media only screen and (max-width : 1120px) {
  .centr-text {
    color: #FF8500;
    text-align: center;
    font-size: 86px;
    flex-shrink: 0;
    font-weight: 400;
  }
}

@media only screen and (max-width : 1020px) {
  .centr-text {
    color: #FF8500;
    text-align: center;
    font-size: 77px;
    flex-shrink: 0;
    font-weight: 400;
  }
}

@media only screen and (max-width : 920px) {
  .centr-text {
    color: #FF8500;
    text-align: center;
    font-size: 67px;
    flex-shrink: 0;
    font-weight: 400;
  }
}

@media only screen and (max-width : 767px) {
  .centr-text {
    color: #FF8500;
    text-align: center;
    font-size: 54px;
    flex-shrink: 0;
    font-weight: 400;
  }
}

@media only screen and (max-width : 567px) {
  .centr-text {
    color: #FF8500;
    text-align: center;
    font-size: 30px;
    flex-shrink: 0;
    font-weight: 400;
  }
}




/*------Line--------*/
.line {
  margin-top: 20px;
  max-width: 741px;
  border: none;
  height: 10px;
  background-color: #000;
}

@media only screen and (max-width : 567px) {
  .line {
    margin-top: 10px;
    max-width: 741px;
    border: none;
    height: 10px;
    background-color: #000;
  }
}

.line2 {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 1510px;
  border: none;
  height: 10px;
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
}

.line3 {
  max-width: 1510px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.line4 {
  max-width: 1510px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width : 567px) {
  .line4 {
    max-width: 1360px;
    border: none;
    background-color: #000;
    position: relative;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.line5 {
  max-width: 1360px;
  border: none;
  height: 10px;
  background-color: #000;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.steamVidget {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 700px;
}

.line,
.line2,
.line3,
.line4,
.line5 {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width : 1120px) {

  .line,
  .line2,
  .line3,
  .line4,
  .line5 {
    height: 9px;
  }
}

@media only screen and (max-width : 1020px) {

  .line,
  .line2,
  .line3,
  .line4,
  .line5 {
    height: 8px;
  }
}

@media only screen and (max-width : 920px) {

  .line,
  .line2,
  .line3,
  .line4,
  .line5 {
    height: 7px;
  }
}

@media only screen and (max-width : 767px) {

  .line,
  .line2,
  .line3,
  .line4,
  .line5 {
    height: 6px;
  }
}

@media only screen and (max-width : 567px) {

  .line,
  .line2,
  .line3,
  .line4,
  .line5 {
    height: 5px;
  }
}

/*------Line--------*/
.centr-text-Botton {
  margin-top: 20px;
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

@media only screen and (max-width : 1120px) {
  .centr-text-Botton {
    color: #FFF;
    text-align: center;
    font-size: 32.4px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 1020px) {
  .centr-text-Botton {
    color: #FFF;
    text-align: center;
    font-size: 28.8px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 920px) {
  .centr-text-Botton {
    color: #FFF;
    text-align: center;
    font-size: 25.2px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 767px) {
  .centr-text-Botton {
    color: #FFF;
    text-align: center;
    font-size: 21.6px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 567px) {
  .centr-text-Botton {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
}

.centr-text-Botton2 {
  margin-top: 20px;
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

@media only screen and (max-width : 1120px) {
  .centr-text-Botton2 {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 32.4px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 1020px) {
  .centr-text-Botton2 {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 28.8px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 920px) {
  .centr-text-Botton2 {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 25.2px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 767px) {
  .centr-text-Botton2 {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 21.6px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 567px) {
  .centr-text-Botton2 {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
}

/*------------------*/

.img {
  max-height: 548px;
  max-width: 548px;
  padding-left: 20px;
  position: absolute;
  object-fit: cover;
  object-position: bottom;
}

.header-heading {
  color: #FFF;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 1237px;
  max-height: 533px;
  float: left;
}

.rightimg {
  float: left;
  /* Выравнивание по левому краю */
  margin: 7px 7px 7px 0;
  /* Отступы вокруг картинки */
  width: 548px;
  height: 548px;
  object-fit: cover;
  object-position: bottom;
}

.text {
  color: #FFF;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.nav-list2 {
  display: flex;
  column-gap: 25px;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 20px;
  z-index: 1000;
}

@media only screen and (max-width : 1120px) {
  .nav-list2 {
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 21.6px;
  }
}

@media only screen and (max-width : 1020px) {
  .nav-list2 {
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 19.2px;
  }
}

@media only screen and (max-width : 920px) {
  .nav-list2 {
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 16.8px;
  }
}

@media only screen and (max-width : 767px) {
  .nav-list2 {
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 14.4px;
  }
}

@media only screen and (max-width : 567px) {
  .nav-list2 {
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 12px;
  }
}








@media only screen and (max-width : 1120px) {
  .h123 {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width : 1020px) {
  .h123 {
    height: 45px;
    width: 45px;
  }
}

@media only screen and (max-width : 920px) {
  .h123 {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width : 767px) {
  .h123 {
    height: 35px;
    width: 35px;
  }
}

@media only screen and (max-width : 567px) {
  .h123 {
    height: 30px;
    width: 30px;
  }
}

/*-----------карусель-----------*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Основные стили */

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд 
.slick-slide {}

 Слайд активный 
.slick-slide.slick-active {}

 Слайд основной 
.slick-slide.slick-current {}

 Слайд по центру 
.slick-slide.slick-center {}

 Стрелка 
.slick-arrow {}

 Стрелка влево 
.slick-arrow.slick-prev {}

 Стрелка вправо 
.slick-arrow.slick-next {}

 Стрелка не активная 
.slick-arrow.slick-disabled {}

 Точки 
.slick-dots {}

.slick-dots li {}

.slick-dots button {}*/

/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 60px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

@media only screen and (max-width : 1120px) {
  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -27px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 27px;
    height: 54px;
  }
}

@media only screen and (max-width : 1020px) {
  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -24px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 24px;
    height: 48px;
  }
}

@media only screen and (max-width : 920px) {
  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -21px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 21px;
    height: 42px;
  }
}

@media only screen and (max-width : 767px) {
  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -18px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 18px;
    height: 36px;
  }
}

@media only screen and (max-width : 567px) {
  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -15px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 15px;
    height: 30px;
  }
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url('sl-arrow_l.svg') 0 0 / 90% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url('sl-arrow_r.svg') 0 0 / 90% no-repeat;
}

/*.slider .slick-arrow.slick-disabled {}*/

.slider .slick-dots {
  position: relative;
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width : 567px) {
  .slider .slick-dots {
    position: relative;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

@media only screen and (max-width : 1120px) {
  .slider .slick-dots li {
    list-style: none;
    margin: 0px 9px;
  }
}

@media only screen and (max-width : 1020px) {
  .slider .slick-dots li {
    list-style: none;
    margin: 0px 8px;
  }
}

@media only screen and (max-width : 920px) {
  .slider .slick-dots li {
    list-style: none;
    margin: 0px 7px;
  }
}

@media only screen and (max-width : 767px) {
  .slider .slick-dots li {
    list-style: none;
    margin: 0px 6px;
  }
}

@media only screen and (max-width : 567px) {
  .slider .slick-dots li {
    list-style: none;
    margin: 0px 5px;
  }
}

.slider .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 9px;
  background: #4d4c4c;
  border-radius: 5px;
}

@media only screen and (max-width : 1120px) {
  .slider .slick-dots button {
    font-size: 0;
    width: 27px;
    height: 8.1px;
    background: #4d4c4c;
    border-radius: 5px;
  }
}

@media only screen and (max-width : 1020px) {
  .slider .slick-dots button {
    font-size: 0;
    width: 24px;
    height: 7.2px;
    background: #4d4c4c;
    border-radius: 5px;
  }
}

@media only screen and (max-width : 920px) {
  .slider .slick-dots button {
    font-size: 0;
    width: 21px;
    height: 6.3px;
    background: #4d4c4c;
    border-radius: 5px;
  }
}

@media only screen and (max-width : 767px) {
  .slider .slick-dots button {
    font-size: 0;
    width: 18px;
    height: 5.4px;
    background: #4d4c4c;
    border-radius: 5px;
  }
}

@media only screen and (max-width : 567px) {
  .slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 4.5px;
    background: #4d4c4c;
    border-radius: 5px;
  }
}

.slider .slick-dots li.slick-active button {
  background-color: #fc6500;
}

/*.slider__item {}

.slider__item img {}

.slider__item.slick-center {}*/

/*-----------Карусель-----------*/


/* -----------Подвал-----------*/
.nav-item2 {
  z-index: 1000
}

.footer {
  position: relative;
  z-index: 10;
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer__text {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

@media only screen and (max-width : 1120px) {
  .footer__text {
    color: white;
    font-size: 21.6px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 1020px) {
  .footer__text {
    color: white;
    font-size: 19.2px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 920px) {
  .footer__text {
    color: white;
    font-size: 16.8px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 767px) {
  .footer__text {
    color: white;
    font-size: 14.4px;
    font-weight: 400;
  }
}

@media only screen and (max-width : 567px) {
  .footer__text {
    color: white;
    font-size: 12px;
    font-weight: 400;
  }
}

.img__footer {
  position: absolute;
  max-width: 900px;
  max-height: 868px;
  bottom: 60%;
  right: 0;
  z-index: 10
}

@media only screen and (max-width : 1120px) {
  .img__footer {
    position: absolute;
    width: 30%;
    bottom: 70%;
    right: 0;
  }
}

@media only screen and (max-width : 1020px) {
  .img__footer {
    position: absolute;
    width: 30%;
    bottom: 70%;
    right: 0;
  }
}

@media only screen and (max-width : 920px) {
  .img__footer {
    position: absolute;
    width: 30%;
    bottom: 70%;
    right: 0;
  }
}

@media only screen and (max-width : 767px) {
  .img__footer {
    position: absolute;
    width: 30%;
    bottom: 70%;
    right: 0;
  }
}

@media only screen and (max-width : 567px) {
  .img__footer {
    position: absolute;
    width: 30%;
    bottom: 70%;
    right: 0;
  }
}

.container2 {
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 75%;
}

/* -----------Подвал-----------*/
img {
  width: 100%;
  height: 100%;
  display: block;
}

.to-top {
  bottom: -75px;
  width: 50px;
  height: 50px;
  right: 25px;
  position: fixed;
  opacity: 0;
  z-index: 9999;
  transition: all 0.5s;
  pointer-events: none;
}

.to-top.active {
  bottom: 25px;
  opacity: 0.4;
  pointer-events: auto;
  z-index: 9999;
}
/*----------------------------------------------------------------*/
@media only screen and (max-width : 1120px) {
  .steamVidget {
    display: none;
  }
}

@media only screen and (max-width : 1020px) {
  .steamVidget {
    display: none;
  }
}

@media only screen and (max-width : 920px) {
  .steamVidget {
    display: none;
  }
}

@media only screen and (max-width : 767px) {
  .steamVidget {
    display: none;
  }
}

@media only screen and (max-width : 567px) {
  .steamVidget {
    display: none;
  }
}