body {
    background: linear-gradient(0deg, #3CC325 0%, rgba(44, 108, 33, 0.95) 100%);
    width: 1920px;
    height: 2160px; 
}
.RC
{
    display: flex;
    width: 533px;
    height: 54px;
    flex-direction: column;
    flex-shrink: 0; 
    color: #000;
    font-size: 64px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 108px; 
    left: 368px;
}
.About
{
    display: flex;
    width: 276px;
    height: 54px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 64px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 108px; 
    left: 1362px;

}
.logo{
    background-image: url("image/logo.png");
    width: 150px;
    height: 150px;
    flex-shrink: 0; 
    position: absolute;
    top: 77px; 
    left: 100px;
  }

  .logoAbout{
    background-image: url("image/1.png");
    width: 600px;
    height: 600px;
    flex-shrink: 0; 
    position: absolute;
    top: 1180px; 
    left: 101px;
  }
  .discord
  {
    background-image: url("image/1.png");
    width: 100px;
    height: 100px;
    flex-shrink: 0;  
    position: absolute;
    top: 1845px; 
    left: 537px;
  }
  .instagram
  {
    background-image: url("image/instagram.png");
    width: 100px;
    height: 100px;
    flex-shrink: 0;  
    position: absolute;
    top: 1845px; 
    left: 795px;
  }
  .telegram
  {
    background-image: url("image/telegram.png");
    width: 100px;
    height: 100px;
    flex-shrink: 0;  
    position: absolute;
    top: 1845px; 
    left: 1046px;
  }
  .vk
  {
    background-image: url("image/vk.png");
    width: 100px;
    height: 100px;
    flex-shrink: 0;  
    position: absolute;
    top: 1845px; 
    left: 1297px;
  }
 .btn
 {
    border: medium none;
    background-image: none; 
    background: transparent;
    float: left;
    background-color: transparent;
 }
 .GhText
 {
    display: flex;
    width: 426px;
    height: 72px;
    flex-direction: column;
    flex-shrink: 0; 
    color: #000;
    font-size: 64px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    position: absolute;
    top: 2032px; 
    left: 74px;
}
.AboutText
{
    display: flex;
    width: 874px;
    height: 600px;
    flex-direction: column;
    flex-shrink: 0; 
    color: #000;
    font-size: 36px;
    font-family: Island Moments;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    position: absolute;
    top: 1180px; 
    left: 875px;
}