body {
    background: linear-gradient(0deg, #3CC325 0%, rgba(44, 108, 33, 0.95) 100%);
    width: 1920px;
    height: 2160px; 
}
.RC
{
    display: flex;
    width: 533px;
    height: 54px;
    flex-direction: column;
    flex-shrink: 0; 
    color: #000;
    font-size: 64px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 15px; 
    left: 368px;
    font-family: Pompadur, 'Comic Sans MS', cursive;
}
.About
{
    display: flex;
    width: 276px;
    height: 100px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 64px;
    font-family: Inter;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    position: absolute;
    top: 15px; 
    left: 1362px;
    font-family: Pompadur, 'Comic Sans MS', cursive;
}
.logo{
    background-image: url("image/logo.png");
    width: 150px;
    height: 150px;
    flex-shrink: 0; 
    position: absolute;
    top: 15px; 
    left: 100px;
    font-family: Pompadur, 'Comic Sans MS', cursive;
  }

  .logoAbout{
    background-image: url("image/1.png");
    width: 600px;
    height: 600px;
    flex-shrink: 0; 
    position: absolute;
    top: 1180px; 
    left: 101px;
    font-family: Pompadur, 'Comic Sans MS', cursive;
  }
  .discord
  {
    background-image: url("image/1.png");
    width: 100px;
    height: 100px;
    flex-shrink: 0;  
    position: absolute;
    top: 1845px; 
    left: 537px;
    font-family: Pompadur, 'Comic Sans MS', cursive;
  }
  .instagram
  {
    background-image: url("image/instagram.png");
    width: 100px;
    height: 100px;
    flex-shrink: 0;  
    position: absolute;
    top: 1845px; 
    left: 795px;
    font-family: Pompadur, 'Comic Sans MS', cursive;
  }
  .telegram
  {
    background-image: url("image/telegram.png");
    width: 100px;
    height: 100px;
    flex-shrink: 0;  
    position: absolute;
    top: 1845px; 
    left: 1046px;
    font-family: Pompadur, 'Comic Sans MS', cursive;
  }
  .vk
  {
    background-image: url("image/vk.png");
    width: 100px;
    height: 100px;
    flex-shrink: 0;  
    position: absolute;
    top: 1845px; 
    left: 1297px;
    font-family: Pompadur, 'Comic Sans MS', cursive;
  }
 .btn
 {
    border: medium none;
    background-image: none; 
    background: transparent;
    float: left;
    background-color: transparent;
    font-family: Pompadur, 'Comic Sans MS', cursive;
 }
 .GhText
 {
    display: flex;
    width: 426px;
    height: 72px;
    flex-direction: column;
    flex-shrink: 0; 
    color: #000;
    font-size: 64px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    position: absolute;
    top: 2032px; 
    left: 74px;
    font-family: Pompadur, 'Comic Sans MS', cursive;
}
.AboutText
{
    display: flex;
    width: 874px;
    height: 600px;
    flex-direction: column;
    flex-shrink: 0; 
    color: #000;
    font-size: 36px;
    font-family: Island Moments;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    position: absolute;
    top: 1180px; 
    left: 875px;
    font-family: Pompadur, 'Comic Sans MS', cursive;
}
.header
{
background-color: #ff0000;
top: -100px;
left: 0;
width: 100%;
z-index: 10;
transition: all.2s ease;
font-family: Pompadur, 'Comic Sans MS', cursive;
}
.header.fixed
{
  position: fixed;
  transform: translateY(100px);
  font-family: Pompadur, 'Comic Sans MS', cursive;
}
.header__wrapper
{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Pompadur, 'Comic Sans MS', cursive;
}
@font-face {
  font-family: Pompadur; /* Гарнитура шрифта */
  src: url(fonts/RC_CM_Font.ttf); /* Путь к файлу со шрифтом */
 }
