@import 'front.css';

.body{
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg,#4C4C4C 0%, #414141 16.15%,#111 100%) fixed;
  overflow-x: hidden;
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;   
}

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0;
}
a { 
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 

*{
  font-family: 'Pompadur';
  padding: 0;
  margin: 0;
}


/*-----------Header-----------*/
.container{
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
  width: 70%;
}

.header{
  padding-left: 0px;
  height: 52px;
  background-color: rgb(0, 0, 0);
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items:center;
}

.logo{
  color: #ffffff; 
  font-size: 24px; 
  font-weight: 400; 
  white-space:nowrap;
  margin-top: 14px;
}
@media only screen and (max-width : 500px) {
  .logo{
    color: #ffffff; 
    font-size: 12px; 
    font-weight: 400; 
    white-space:nowrap;
    margin-top: 21px;
    margin-right: 20px;
  }
}
/*Nav*/
.nav-list{
  display: flex;
  column-gap: 50px;
  font-weight: 400;
  font-size: 24px;
}
@media only screen and (max-width : 500px) {
  .nav-list{
    display: flex;
    column-gap: 50px;
    font-weight: 400;
    font-size: 12px;
  }
}

.nav-item{
  margin-top: 14px;
}
@media only screen and (max-width : 500px) {
  .nav-item{
    margin-top: 21px;
  }
}

.nav-link{
  color: #ffffff;
  font-weight: 400;
  white-space:nowrap;
  
}

.img-logo{
  display: block;
  width: 114px;
  height: 114px;
  margin-top: 20px;
  margin-left: 10px;
}
.img-logo img{
  width: 100%;
  height: 100%;
  display: block;
}
@media only screen and (max-width : 500px) {
  .img-logo{
    display: block;
    width: 57px;
    height: 57px;
    margin-top: 32px;
    margin-left: -1px;
  }
}
/*-----------Header-----------*/











/*-----------Main-----------*/
.mainContainer{
  max-width: 1400px;
  padding: 0 30px;
  position: relative;
  margin: 0 auto;
  width: 70%;
}

.centr-text{
  padding-top: 100px;
  color: #FF8500;
  text-align: center;
  font-size: 96px;
  flex-shrink: 0; 
  font-weight: 400;
}
@media only screen and (max-width : 690px) {
  .centr-text{
    color: #FF8500;
    text-align: center;
    font-size: 45px;
    flex-shrink: 0; 
    font-weight: 400;
  }
}

.centr-text-Botton{
  padding-top: 20px;
  color: #FFF; 
  text-align: center;
  font-size: 36px; 
  font-weight: 400;
}
@media only screen and (max-width : 690px) {
  .centr-text-Botton{
  color: #FFF; 
  text-align: center;
  font-size: 18px; 
  font-weight: 400;
  }
}

/*--------Line----------*/
.line{
  margin-top: 20px;
  max-width: 741px;
  border: none;
  height: 10px;
  background-color: #000;
}
.line2{
  margin-top: 117px;
  max-width: 1400px;
  border: none;
  height: 10px;
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
}

.line3{
  margin-top: 20px;
  max-width: 1400px;
  border: none;
  height: 10px;
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
}
.line4{
  margin-top: 61px;
  max-width: 1400px;
  border: none;
  height: 10px;
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
}

.line5{
  margin-top: 25px;
  max-width: 1400px;
  border: none;
  height: 10px;
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
}
.line,.line2,.line3,.line4,line5{
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width : 500px) {
  .line,.line2,.line3,.line4,.line5{
    height: 5px;
  }
}
/*--------Line----------*/
.ImgDiscord{
  margin-left: auto;
  margin-right: auto;
  padding-top: 76px;
  width: 100%;
  max-height: 787px;
  max-width: 1400px;
  display: block; /* Блочный элемент (для старых браузеров) */
  text-align: center; /* Выравнивание по центру */
}
.oval{
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
  padding-bottom: 40px;
  max-width: 1400px;
  max-height: 152px;
  flex-shrink: 0; 
  border-radius: 50px;
  background: #5F5F5F; 
}
@media only screen and (max-width : 500px) {
  .oval{
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    padding-bottom: 20px;
    max-width: 700px;
    max-height: 76px;
    flex-shrink: 0; 
    border-radius: 25px;
    background: #5F5F5F; 
  }
}
.DisText{
  margin-left: auto;
  margin-right: auto;
  font-family: Voces; 
  padding-top: 20px;
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}
@media only screen and (max-width : 500px) {
  .DisText{
    margin-left: auto;
    margin-right: auto;
    font-family: Voces; 
    padding-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
}
.price__block{
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.nav-list3{
  padding-left: 30px;
  padding-top: 27px;
}

@media only screen and (max-width : 500px) {
  .tmp{
    width: 35%;
    height: 35%;
  }
}
.img__price{
  position: absolute;
  right: 0;
  bottom: -65%;
  }
  @media only screen and (max-width : 500px) {
    .img__price{
      position: absolute;
      right: 0;
      bottom: 25%;
      }
  }
.img__price2{
  position: absolute;
  right: 0;
  bottom: -30%;
}
@media only screen and (max-width : 500px) {
  .img__price2{
    position: absolute;
    right: 0;
    bottom: 30%;
    }
}


.nav-item3{
  color: #FFF;
  font-family: Voces;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}
@media only screen and (max-width : 500px) {
  .nav-item3{
    color: #FFF;
    font-family: Voces;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  }
}

/*------------------*/


 .nav-list2{
  list-style-type: none; /* Убираем маркеры */
  padding-top: 162px;
  display: flex;
  column-gap: 25px;
  font-weight: 400;
  font-size: 24px;
}
@media only screen and (max-width : 500px) {
  .nav-list2{
    padding-top: 100px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    font-size: 12px;
    margin-left: -35px;
  }
}
@media only screen and (max-width : 500px) {
  .h123{
    height: 30px;
    width: 30px;
  }
}


/* -----------Подвал-----------*/

.footer{

  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.footer__text{
  color: white;
  font-size: 24px;
  font-weight: 400;
}
@media only screen and (max-width : 500px) {
  .footer__text{
    color: white;
    font-size: 12px;
    font-weight: 400;
  }
}

.to-top {
    bottom: -75px;
    width: 50px;
    height: 50px;
    right: 25px;
    position: fixed;
    opacity: 0;
    z-index: 9999;
    transition: all 0.5s;
    pointer-events: none;
}

    .to-top.active {
        bottom: 25px;
        opacity: 0.4;
        pointer-events: auto;
        z-index: 9999;
    }
